.navbar {
    border-radius:0;
    position:fixed;
    width:100%;
    z-index:9001;
    /*background-color: #6441A5;*/
  }
  
  .navbar-brand {
    padding: 5px;
  }
  
  .header-logo {
    max-height: 40px;
  }
  